{% extends 'admin/base.html.twig' %}

{% block title %}Géstion des utilisateurs{% endblock %}

{% block body %}
<main class="container py-5">
    <h1 class="my-5 h4"><i class="fas fa-code"></i> Modification de l' Utilisateur : {{users.id}}</h1>
    <div class="row">
        <div class="col">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-outline-info btn-sm mb-5" type="submit"><i class="fas fa-check"></i> Enregistrer</button>
        <a href="javascript:history.go(-1)"{# "{{path('admin_comments_list')}}" #} class="btn btn-link btn-sm ml-3 mb-5"><i class="fas fa-undo"></i> Retour</a>
        {{form_end(form)}}
        </div>
    </div>
</main>
{% endblock %}