{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}


{% block body %}
<div class="container">
<h1 class="h4">Mes Réservations</h1>
    <div class="bg-light p-3 my-3">
        <h2 class="h5">Retrouvez ici toutes vos réservations</h2>
    </div>
    {% for booking in app.user.bookings %}
        <div class="alert alert-secondary row">
            <div class="col-4 mt-4">
                <img src="{{booking.ad.coverImage}}" alt="photo de l'annonce {{booking.ad.title}}" class="img-fluid">
                {% set comment = booking.ad.commentFromAuthor(app.user) %}
                {% if comment is not null %}
                <p class="my-2">Votre note: {% include 'inc/rating.html.twig' with {'rating':comment.rating}%}</p>
                {% else %}
                <small>Vous n'avez pas encore donné d'avis sur ce séjour</small>
                <a href="{{path('booking_show',{'id':booking.id})}}">Laissez un avis</a>
                {% endif %}
            </div>
            <div class="col-8 mb-3">
            <h5>{{booking.ad.title}}</h5>
            <p class="badge badge-info">Référence : <strong>RES{{ 'now'|date('y')}}-{{ booking.id }}</strong></p>
            <p>Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}}</p>
            <p>Pour un montant de {{booking.amount}} &euro;</p>
            <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-outline-info btn-sm">Détails de la réservations</a>
            
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}