{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
        <div class="jumbotron mt-4">
            <h1 class="h2">Eco Gîtes</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-outline-info btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <h3 class="h1 mt-3 mb-4">Meilleures Locations</h3>
        <section class="row">
        {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
        {% endfor %}
        </section>
        <h3 class="h1 mt-3 mb-4">Nos meilleurs annonçeurs</h3>
        <section class="row">
                {% for data in users %}
                <article class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-header"><h4 class="h5 card-title"><i class="fas fa-id-badge text-info"></i> {{data.user.fullname}}</h4></div>
                        <div class="card-body">
                            <img src="{{data.user.avatar}}" alt="avatar de {{data.user.fullname}}" class="float-left mr-3 avatar homeavatar">
                            <p class="card-text">{{data.user.introduction}}</p>
                            <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-secondary btn-sm"><i class="far fa-eye"></i> Voir</a>
                        </div>
                    </div>
                </article>
                {% endfor %}
        </section>
</main>
{% endblock %}