{% set url= path('ads_single',{'slug':ad.slug}) %}
<div class="col-md-4">
    <div class="card border-secondary mb-3">
        <div class="card-header text-center">
            <h4 class="card-title">{{ad.title|upper}}</h4>
            <h6>{{ad.price}} &euro;/jour</h6>
        </div>
        <div class="card-body">
        <a href="{{ url }}">
            {% if ad.coverimage %}
                <img src="{{vich_uploader_asset(ad,'imageFile') | imagine_filter('thumb')}}" alt"{{ad.title}}" style="height: 200px; width: 100%; display: block;">
            {% else %}
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" style="height: 200px; width: 100%; display: block;" alt="">
            {% endif %}
        </a>
            <p class="text-center text-warning">{{ad.rooms}} chambres</p>
            <p class="card-text mt-2">{{ad.introduction}}</p>
            <a href="{{ url }}" class="btn btn-outline-info btn-sm"><i class="fas fa-search-plus"></i> d'infos</a>
            {% if app.user and app.user == ad.author %}
            <span class="fa-stack ml-2" style="vertical-align: top;">
                <a href="{{path('ads_edit',{'slug':ad.slug})}}">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-edit fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            {% endif %}
        </div>
        <div class="card-footer text-muted text-center">
        {% if ad.comments|length > 0 %}
            {% include 'inc/rating.html.twig' with {'rating':ad.averageRatings} %} sur {{ad.comments|length}} avis.
        {% else %}
            <span>Pas encore noté</span>
        {% endif %}
        </div>
    </div>
</div>