{% set url= path('ads_single',{'slug':ad.slug}) %}
<div class="col-md-4">
    <div class="card border-secondary mb-3">
        <div class="card-header"><h4 class="card-title">{{ad.rooms}} chambres {{ad.price}} &euro;/jour</h4></div>
        <div class="card-body">
        <a href="{{ url }}">
            <img src="{{ad.coverImage}}}" alt"{{ad.title}}" style="height: 200px; width: 100%; display: block;">
        </a>
            <p class="card-text">{{ad.introduction}}</p>
            <a href="{{ url }}" class="btn btn-secondary btn-sm"><i class="fas fa-search-plus"></i> d'infos</a>
            {% if app.user and app.user == ad.author %}
            <span class="fa-stack ml-2" style="vertical-align: top;">
                <a href="{{path('ads_edit',{'slug':ad.slug})}}">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-edit fa-stack-1x fa-inverse"></i>
                </a>
            </span>
            {% endif %}
        </div>
        <div class="card-footer text-muted text-center">
        {% if ad.comments|length > 0 %}
            {% include 'inc/rating.html.twig' with {'rating':ad.averageRatings} %} sur {{ad.comments|length}} avis.
        {% else %}
            <span>Pas encore noté</span>
        {% endif %}
        </div>
    </div>
</div>